extends ../layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2
        .text-center
          h1.display-4.mb-3= film.title
          p.lead.mb-4= film.description
          .card.mx-auto.mt-4(style="max-width: 400px;")
            .card-body
              ul.list-group.list-group-flush
                li.list-group-item
                  strong Release Year: 
                  | #{film.release_year}
                li.list-group-item
                  strong Length: 
                  | #{film.length} minutes
                li.list-group-item
                  strong Rating: 
                  | #{film.rating}
                li.list-group-item
                  strong Category: 
                  | #{film.name}
          h1.display-4.mb-3 Cast
          .row.mt-4
            each actor in film.cast
              .col-md-4.mb-4
                a.card.h-100(href=`/actors/${actor.actor_id}`)
                  .card-body
                    h5.card-title= `${actor.first_name} ${actor.last_name}`