extends layout

block content
  .container.mt-5
    .row
      .col-md-8.offset-md-2.text-center
        h1.display-4 Rentals
        p.lead You have rented #{rentals.length} films.
        if (success)
          .alert.alert-success= success
        hr.my-4
        table.table.table-striped
            thead
                tr
                    th Film Name
                    th Rental Date
                    th Returned
            tbody
                each rental in rentals
                    tr
                        td
                            a(href=`/films/${rental.film_id}`)= rental.title
                        td= rental.rental_date.toLocaleDateString()
                        td
                            if rental.returned
                                span.text-success Yes
                            else
                                span.text-danger No
                        td 
                            if !rental.returned
                                form(action=`/rentals/${rental.rental_id}/return` method="POST")
                                    button.btn.btn-sm.btn-primary(type="submit") Return
