.col-md-4.mb-4
  a.card.h-100(href=`/actors/${actor.actor_id}` style="text-decoration: none;")
    .card-body
      img.rounded-circle.shadow(
        src=`https://api.dicebear.com/9.x/big-ears-neutral/svg?seed=${actor.actor_id}`
        alt="avatar"
        style="width: 100%; height: auto; max-width: 150px; margin-bottom: 15px;"
      )
      h5.card-title= `${actor.first_name} ${actor.last_name}`
      